.circle-btn {
    border-radius: 50%;
    @extend .h5;
    @extend .flex-center;
    width: 40px;
    height: 40px;
    transition: 1s;
    &:hover {
        background-color: getColor(color-2);
    }
}
