@function getColor($themecolor) {
    
    // If the key exists in the map
    @if map-has-key($themecolors, $themecolor) {
        @return map-get($themecolors, $themecolor);
    }
    // If the key doesn't exist in the map
    @else {
        @warn "Unfortunately, no value could be retrieved from `#{$themecolor}`. "
          + "Available breakpoints are: #{map-keys($themecolors)}.";
    }
}
