.w-100 {
    width: 100%;
}
.h-100 {
    height: 100%;
}
.w-h-100 {
    @extend .w-100;
    @extend .h-100;
}
.pos-0 {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.px {
    padding-right: 8px;
    padding-left: 8px;
}
.px-0 {
    padding-right: 0;
    padding-left: 0;
}
.mx-0{
    margin-right: 0;
    margin-left: 0;
}
.text-right {
    text-align: var(--right);
}
.text-left {
    text-align: var(--left);
}
.text-center{
    text-align: center;
}