$breakpoints: (
  "xs": (
    max-width: 767px,
  ),
  "sm": (
    min-width: 767px,
  ),
  "md": (
    min-width: 992px,
  ),
  "lg": (
    min-width: 1200px,
  ),
) !default;

$themecolors: (
  "color-1": #2d3436,
  "color-2": #0984e3,
  "color-3": #fff,
);

:root {
  --left: left;
  --right: right;
}
