footer {
    margin: 0;
    padding: 20px 0 0;
    .logo {
        width: 230px;
        img {
            @extend .w-100;
        }
    }
    .des {
        line-height: 125%;
        text-align: justify;
    }
    .follow-title {
        font-size: 30px;
        color: getColor(color-2);
        position: relative;
        margin-bottom: 15px;
    }
    .soial-nav {
        li {
            display: inline-block;
            a {
                @extend .circle-btn;
            }
        }
    }
    .links {
        li {
            @extend .h4;
            padding: 10px;
            a {
                color: getColor(color-1);
                &:hover {
                    color: getColor(color-2);
                }
            }
        }
    }
}
.myname {
    color: getColor(color-2);
}
