.contact {
  .conatct-info {
    color: getColor(color-3);
    background-color: getColor(color-2);
    .contact-title {
      @extend .section-title;
      color: getColor(color-3);
      &::after {
        background-color: getColor(color-1);
      }
    }
    h3 {
      @extend .h4;
      line-height: 150%;
    }
  }
  .contact-form {
    display: flex;
    align-items: center;
    .input-block {
      color: getColor(color-1);
      .input {
        display: block;
        width: 100%;
        padding: 10px 5px;
        border: none;
        border-bottom: 2px solid getColor(color-2);
        background-color: getColor(color-3) !important;
        margin-bottom: 25px;
      }
    }
    textarea {
      width: 80%;
    }
    .form-btn {
      @extend .h5;
      width: 100%;
      text-align: center;
      height: 50px;
      color: getColor(color-3);
      background-color: getColor(color-2);
      border: none;
    }
  }
}
