header {
    @extend .w-100;
    background-image: url("../images/header.jpg");
    background-size: cover;
    position: relative;
    min-height: 100vh;
    @include respond-to("md"){
        min-height: 80vh;
    }
    .over {
        opacity: 0.7;
        @extend .w-h-100;
        @extend .pos-0 ;
        position: absolute;
        z-index: 100;
    }
    .content {
        @extend .flex-center;
        @extend .h-100;
        align-items: flex-start;
        position: absolute;
        z-index: 200;
        margin: 0 50px;
        flex-direction: column;
        h1,h2 {
            color: getColor(color-2);
        }
    }
}
