#loading-screen {
    position: absolute;
    height: 100%;
    background-color: getColor(color-3);
    margin: 0;
    padding: 0;
    z-index: 9999;
    @extend .w-100;
    @extend .flex-center;
}
#loader {
    width: 120px;
    height: 120px;
    border: 16px solid getColor(color-2);
    border-top: 16px solid getColor(color-1);
    border-radius: 50%;
    animation: spin 2s linear infinite, heart-beat 2s linear infinite;
    background-color: getColor(color-3);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes heart-beat {
    55% {
        background-color: getColor(color-3);
    }
    60% {
        background-color: getColor(color-2);
    }
    65% {
        background-color: getColor(color-3);
    }
    70% {
        background-color: getColor(color-1);
    }
    100% {
        background-color: getColor(color-3);
    }
}
