nav {
  .top-bar {
    padding: 10px 0;
    i {
      margin-left: 5px;
    }
  }
  .nav {
    .logo-area {
      margin: 15px auto;
      .logo {
        width: 230px;
        img {
          @extend .w-100;
        }
      }
      .soial-nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        li {
          display: inline-block;
          margin: 0 10px;
          a {
            @extend .circle-btn;
          }
        }
      }
    }
    .nav-btn {
      margin-left: 25px;
      @extend .circle-btn;
    }
    .links {
      @extend .w-h-100;
      @extend .pos-0;
      display: none;
      position: fixed;
      z-index: 400;
      background-color: getColor(color-1) + E6;
      .x-btn {
        @extend .circle-btn;
        position: absolute;
        top: 7vw;
        right: 5%;
        z-index: 500;
        background-color: getColor(color-2);
        color: getColor(color-3);
        &:hover {
          background-color: getColor(color-3);
        }
      }
      ul {
        @extend .w-100;
        position: absolute;
        align-self: center;
        text-align: center;
        z-index: 500;
        li {
          margin-bottom: 30px;
          a {
            @extend .h2;
            color: getColor(color-3);
          }
        }
      }
    }
  }
}
