@for $var from 0 to 6 {
    .mt-#{$var} {
        margin-top: #{$var}rem !important;
    }
    .mb-#{$var} {
        margin-bottom: #{$var}rem !important;
    }
    .pt-#{$var} {
        padding-top: #{$var}rem !important;
    }
    .pb-#{$var} {
        padding-bottom: #{$var}rem !important;
    }
}
.mt-auto {
    margin-top: auto !important;
}
.mb-auto {
    margin-bottom: auto !important;
}
.pt-auto {
    padding-top: auto !important;
}
.pb-auto {
    padding-bottom: auto !important;
}
.container {
    @extend .w-100;
    @extend .px;
    margin-right: auto;
    margin-left: auto;
    @include respond-to("sm") {
        max-width: 720px;
    }
    @include respond-to("md") {
        max-width: 960px;
    }
    @include respond-to("lg") {
        max-width: 1140px;
    }
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.col {
    position: relative;
    @extend .w-100;
    @extend .px;
    &-auto-1 {
        flex: 1;
    }
}
@for $var from 1 to 7 {
    @each $screen, $size in $breakpoints {
        .col-#{$screen}-#{$var} {
            @extend .col;
            @include respond-to($screen) {
                flex: ($var/6) * 100%;
            }
        }
    }
    .col-#{$var} {
        @extend .col;
        flex: ($var/6) * 100%;
    }
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
