* {
  text-decoration: none;
  box-sizing: border-box;
}
.header-font {
  font-family: "Roboto", sans-serif !important;
}
p,
a,
div,
span {
  font-family: "Montserrat", sans-serif;
}
@for $var from 1 to 7 {
  h#{$var} {
    @extend .header-font;
    font-size: #{6 / $var}rem;
    @include respond-to("xs") {
      font-size: #{6 / ($var + 1)}rem;
    }
  }
  .h#{$var} {
    font-size: #{6 / $var}rem;
    @include respond-to("xs") {
      font-size: #{6 / ($var + 1)}rem;
    }
  }
}
.section-title {
  color: getColor(color-1);
  font-size: 60px;
  display: inline-block;
  position: relative;
  &::after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -30px;
    width: 30%;
    height: 5px;
    background-color: getColor(color-2);
    content: "";
  }
  @include respond-to("sm") {
    font-size: 100px;
  }
}
.bg-main {
  background-color: getColor(color-1);
  color: getColor(color-3);
}
