- var pagename = "about"
- var headerTitle = "About Us"
- var indexTitles = ""
doctype html
html(lang="en" dir="ltr")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title(data-lang="global vision medical | About")
    body
        include ./layouts/loding
        include ./layouts/nav
        include ./layouts/header
        //- About Page
        main.about
            include ./includes/mission
            include ./includes/about-section
        //- Footer
        include ./layouts/footer