- var pagename = "contact"
- var headerTitle = "contact"
- var indexTitles = ""
doctype html
html(lang="en" dir="ltr")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="keywords" content="Global Vision Medical,مؤسسة عالمية الرؤية الطبية,عالمية الرؤية الطبية,Global Vision Medical,القطاع الطبى,medical sector,مستلزمات طبية,بيع مستلزمات الطبية,بيع مستلزمات طبية بالرياض,بيع مستلزمات طبيه بالرياض,مستلزمات طبيه الرياض")
        meta(name="description" content="تأسست مؤسسة عالمية الرؤية الطبية ، ومقرها الرياض في يونيو 2015 ، كونها متخصصة في القطاع الطبي ، فإن الهدف الأساسي لمؤسسة عالمية الرؤية الطبية هو توفير منتجات وحلول متخصصة لقطاع الرعاية الصحية سريع النمو ، وهي تأخذ المنتجات عالية الجودة كواجب لا غنى عنه لصحة الإنسان في تشخيص وعلاج أمراض القلب والأوعية الدموية وأمراض الأوعية الدموية الطرفية. | Global Vision Medical, Riyadh-based company was founded in June 2015 Being specialized in medical sector, GVM primary aim is to provide niche products and solutions to the rapidly growing health care sector, It takes the high quality products as a duty which are indispensable for human health in the diagnosis and treatment of Cardiovascular Diseases and Peripheral Vascular Diseases.")
        title(data-lang="global vision medical | contact")
    body
        include ./layouts/loding
        include ./layouts/nav
        include ./layouts/header
        //- Home Page
        main.contact
            include ./includes/form
        //- Footer
        include ./layouts/footer