- var pagename = "services"
- var headerTitle = "services"
- var indexTitles = ""
doctype html
html(lang="en" dir="ltr")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title(data-lang="global vision medical | services")
    body
        include ./layouts/loding
        include ./layouts/nav
        include ./layouts/header
        //- Home Page
        main.services
            include ./includes/services-section
            include ./includes/all-partners
            include ./includes/word
        //- Footer
        include ./layouts/footer