footer
    .container
        .row.mt-4.mb-4
            .col-xs-6.col-md-2
                .logo
                    img(src="../images/logo.png" alt="logo").mb-1
                p.des(data-lang="About Us des")
            .col-xs-6.col-md-2.text-center
                h3(data-lang="Follow us").follow-title.mt-2.mb-3
                ul.soial-nav
                    li.px
                        a(href="https://www.facebook.com/globalvisionme2/"  target="_blank" rel="noopener").fab.fa-facebook-f.bg-main.color-white
                    li.px
                        a(href="https://twitter.com/GlobalVisionMe2"  target="_blank" rel="noopener").fab.fa-twitter.bg-main.color-white
            .col-xs-6.col-md-2.text-center
                h3(data-lang="Site map").follow-title.mt-2.mb-3
                ul.links
                    li
                        a(href="index.html" data-lang="home") 
                    li
                        a(href="about.html" data-lang="About Us")
                    li
                        a(href="services.html" data-lang="services")
                    li
                        a(href="contact.html" data-lang="contact")
    .bg-main    
        .container.pt-2.pb-2
            p
            | &copy; 2021 |
            i.fa.fa-value(aria-hidden='true') &nbsp;
            | Global Vision Medical 2021 All rights reserved | This site Powerd by 
            a(href="https://www.linkedin.com/in/mohmed-ashamallah-a13867188/" target="_blank" rel="noopener").myname Mohmed Ashamallah