nav
    .bg-main.top-bar
        .container
            .row
                .col-auto-1.text-left
                    h6(data-lang="address")
                .col-auto-1.text-right
                    h6 +966 11 263 5714 
                        i.fas.fa-fax
    .nav
        .container.logo-area
            .row
                .col-1
                    .logo
                        img(src="../images/logo.png" alt="logo")
                ul.soial-nav.col-1
                    li 
                        a(href="https://www.facebook.com/globalvisionme2/", target="_blank").fab.fa-facebook-f.bg-main.color-white
                    li
                        a(href="https://twitter.com/GlobalVisionMe2", target="_blank").fab.fa-twitter.bg-main.color-white
                    li
                        a(href="#" id="nav-btn").fas.fa-bars.bg-main.nav-btn
        .links
            a(href="#" id="x-btn").x-btn.bg-main
                i(class="fas fa-times")
            ul
                li
                    a(href="index.html" data-lang="home")
                li
                    a(href="about.html" data-lang="About Us") 
                li
                    a(href="services.html" data-lang="services")
                li
                    a(href="contact.html" data-lang="contact")
                li
                    a(href="#" data-lang="lang btn")#lang-btn