// fonts
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

// abstracts
@import "abstracts/variables";
@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/helpers";

// base
@import "base/reset";
@import "base/typography";
@import "base/grid";

// components
@import 'components/buttons';

//layout
@import "layout/loading";
@import "layout/header";
@import "layout/navigation";
@import 'layout/footer';
@import 'layout/forms';

//pages
@import 'pages/home';
@import 'pages/about';
