section.about.mt-5.mb-5
    .container
        .row
            .col-xs-6.col-md-3.about-img.px-0
                .over
                img(src="../images/about.jpg" alt="alt")
            .about-content.col-xs-6.col-md-3
                h2.mt-1.mb-2.section-title(data-lang="About Us")
                p.about-des.mt-2.mb-4(data-lang="About Us des")
                if pagename == "index"
                    h3.dental-partners.mb-4(data-lang="Partners")
                    .row
                        .col-2 
                            a(href="https://www.arbalticmed.com/" target="_blank" rel="noopener")
                                img(src="../images/partners/part-1.jpg" alt="alt").w-100
                        .col-2 
                            a(href="https://www.biotronik.com/en-us" target="_blank" rel="noopener")
                                img(src="../images/partners/part-2.png" alt="alt").w-100.mb-5
                        .col-2 
                            a(href="https://www.vesalio.com/" target="_blank" rel="noopener")
                                img(src="../images/partners/part-3.png" alt="alt").w-100.mb-5
                    .about-more
                        a(href="about.html" data-lang="Read more") 