section.about.my-5
    .container
        .row.mt-5
            .col-xs-6.col-md-3
                h3.dental-partners.mb-4(data-lang="Partners")
                .row
                    .col-2 
                        a(href="https://www.arbalticmed.com/" target="_blank" rel="noopener")
                            img(src="../images/partners/part-1.jpg" alt="alt").w-100
                    .col-2 
                        a(href="https://www.biotronik.com/en-us" target="_blank" rel="noopener")
                            img(src="../images/partners/part-2.png" alt="alt").w-100.mb-5
                    .col-2 
                        a(href="https://www.vesalio.com/" target="_blank" rel="noopener")
                            img(src="../images/partners/part-3.png" alt="alt").w-100.mb-5
            .col-xs-6.col-md-3
                h3.dental-partners.mb-4(data-lang="Our Dental Partners")
                .row.dental-partners-logos
                    .col-1
                        a(href="http://www.sunshine-dental.de/" target="_blank" rel="noopener")
                            img(src="../images/partners/part-4.jpg" alt="alt").w-100
                    .col-1
                        a(href="https://www.dizg.de/en/" target="_blank" rel="noopener")
                            img(src="../images/partners/part-5.png" alt="alt").w-100.mb-5