.dental-partners
    .container
        h3.dental-partners-title.mb-3.mt-3(data-lang="Our Dental Partners")
        .row.dental-partners-logos
            .col-1
                a(href="http://www.sunshine-dental.de/" target="_blank" rel="noopener")
                    img(src="../images/partners/part-4.jpg" alt="alt").w-100
            .col-1
                a(href="https://www.dizg.de/en/" target="_blank" rel="noopener")
                    img(src="../images/partners/part-5.png" alt="alt").w-100.mb-5