section.contact
    .row
        .col-xs-12.col-md-3.pt-4.pb-2.conatct-info
            .container
                h2.contact-title.mb-3(data-lang="contact")
                h3.mb-3
                    i(class="fas fa-map-marker-alt").px
                    span(data-lang="addres-1")
                h3.mb-3
                    i(class="fas fa-map-marker-alt").px
                    span(data-lang="addres-2")
                h3.mb-3
                    i(class="fas  fa-phone-volume").px
                    span(data-lang="phone-1")
                h3.mb-3
                    i(class="far fa-paper-plane").px
                    span(data-lang="email-1")
                h3.mb-3
                    i(class="far fa-paper-plane").px
                    span(data-lang="email-2") 
        .col-xs-12.col-md-3.pt-4.pb-2.contact-form
            .container
                form(name="contact" method="POST" data-netlify="true")
                    .input-block
                        label(for="name" data-lang="name input") 
                        input(type="text" name="name" id="name" required).input
                    .input-block
                        label(for="email" data-lang="email input") 
                        input(type="email" name="email" id="email"  required).input
                    .input-block
                        label(for="phone" data-lang="phone input") 
                        input(type="text" name="phone" id="phone"  required).input
                    .input-block
                        label(for="subject" data-lang="subject") 
                        input(type="text" name="subject" for="subject"  required).input
                    .input-block
                        label(for="msg" data-lang="msg")
                        textarea(name="msg" rows="10" id="msg").mt-1.input
                    button(type="submit" data-lang="Send btn").form-btn