section.mission
    .container
        .row
            .col-xs-6.col-md-1
                .item.mx-0
                    .icon.pt-2.pb-1
                        i(class="far fa-handshake")
                    h2.title(data-lang="Mission")
                    p.des.pt-2(data-lang="Mission des")
            .col-xs-6.col-md-1
                .item.mx-0
                    .icon.pt-2.pb-1 
                        i(class="fas fa-eye")
                    h2.title(data-lang="Vision")  
                    p.des.pt-2(data-lang="Vision des")
            .col-xs-6.col-md-3
                .item.mx-0
                    .icon.pt-2.pb-1 
                        i(class="fas fa-hand-holding-heart")
                    h2.title(data-lang="Our Values")
                    p.des.pt-2(data-lang="Our Values des") 