.services.mt-4
    .container
        h2.section-title.mb-5(data-lang="services")
        .row.text-center
            .col-xs-6.col-md-3
                .item
                    .icon.pt-2.pb-2 
                        i(class="fas fa-laptop-medical")
                    h2.title(data-lang="Technical support")
                    p.des(data-lang="Technical support des")
            .col-xs-6.col-md-3
                .item
                    .icon.pt-2.pb-2
                        i(class="far fa-thumbs-up")
                    h2.title(data-lang="Sales")
                    p.des(data-lang="Sales des")