// Mission
.mission {
  margin: -150px 0 15px;
  text-align: center;
  position: relative;
  z-index: 300;
  .item {
    @extend .h-100;
    box-shadow: 1px 1px 10px 0px getColor(color-1);
    transition: 1s;
    cursor: pointer;
    .icon {
      color: getColor(color-2);
      @extend .h2;
    }
    .title {
      color: getColor(color-3);
      @extend .h2;
      margin-bottom: 13px;
    }
    .des {
      padding: 15px;
      color: getColor(color-1);
      line-height: 1.5rem;
      margin-bottom: 20px;
    }
    &:hover {
      background-color: #ecf0f1;
      .title {
        color: getColor(color-1);
      }
    }
    @media (max-width: 991px) {
      margin-bottom: 15px;
      .title {
        color: getColor(color-1);
      }
    }
  }
}
//About Us
.about {
  .about-img {
    position: relative;
    .over {
      background-color: getColor(color-1);
      @extend .w-h-100;
      @extend .pos-0;
      position: absolute;
      opacity: 0.5;
      z-index: 300;
    }
    img {
      @extend .w-h-100;
      z-index: 299;
    }
  }
  .about-des {
    color: getColor(color-1);
    line-height: 170%;
    text-align: justify;
    padding: 0 30px;
  }
  .dental-partners {
    color: getColor(color-2);
    @extend .h2;
  }
  .about-more {
    text-align: center;
    a {
      background-color: getColor(color-2);
      color: getColor(color-3);
      padding: 10px 25px;
    }
  }
}
// Word
.word {
  background-image: url(../images/word.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  .over {
    @extend .w-h-100;
    @extend .pos-0;
    position: absolute;
    background-color: getColor(color-1);
    opacity: 0.7;
    z-index: 300;
  }
  .container {
    color: getColor(color-3);
    position: relative;
    z-index: 301;
    padding: 50px 0;
    i {
      @extend .h2;
    }
    div {
      @extend .h3;
      padding: 10px;
      line-height: 200%;
    }
  }
}
// Services
.services {
  .item {
    box-shadow: 1px 1px 10px 0px getColor(color-1);
    transition: 1s;
    cursor: pointer;
    .icon {
      @extend .h1;
      color: getColor(color-2);
      margin: 15px 0 10px;
    }
    .title {
      @extend .h2;
      color: getColor(color-1);
      margin-bottom: 10px;
    }
    .des {
      padding: 15px;
      color: getColor(color-1);
      line-height: 1.5rem;
      margin-bottom: 20px;
    }
    &:hover {
      background-color: getColor(color-3);
      .title {
        color: getColor(color-1);
      }
    }
  }
}
// Dental Partners
.dental-partners {
  .dental-partners-title {
    @extend .h2;
    color: getColor(color-2);
  }
  .dental-partners-logos {
    justify-content: space-around;
    .col-1 {
      @include respond-to("md") {
        max-width: 16%;
      }
    }
  }
}
